{% comment %} About Us Banner Component Starts from Here {% endcomment %}
<div
  class="breadcrumb-area text-center shadow dark text-light bg-cover"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1>About Us</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li>
              <a href="{% url 'home' %}"><i class="bi bi-house-fill"></i> Home</a>
            </li>
            <li class="active">About Us</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
{% comment %} About us Banner Ends Here {% endcomment %}