{% comment %} About us page Main Content {% endcomment %}
<div class="about-area default-padding-top about-solid-thumb overflow-hidden">
  <div class="container">
    <div class="about-style-one-box">
      <div class="row">
        <div class="about-style-one col-xl-6 col-lg-6">
          <div class="thumb">
            <img src="assets/img/about/5.jpg" alt="Thumb" />
            <div class="thumb-shape">
              <div class="shape"></div>
              <div class="shape"></div>
              <div class="shape"></div>
              <div class="shape"></div>
              <div class="shape"></div>
            </div>
          </div>
          <ul class="short-feature-list softtunners-none-991">
            <li>
              <h4><a href="javascript:void(0)">Experts in Every Aspects</a></h4>
              <p>Expertise Across Every Aspect of IT Services</p>
            </li>
            <li>
              <h4><a href="javascript:void(0)">Dedicated Team Players</a></h4>
              <p>
                At SoftTunners, we are a team of experienced IT professionals
                dedicated to helping businesses succeed.
              </p>
            </li>
          </ul>
          <div class="experience">
            <div class="left">
              <h2>3+</h2>
              <h4>
                Years <br />
                of experience
              </h4>
            </div>
          </div>
        </div>
        <div
          class="about-style-one pl-lg-30 pl-70 pl-md-15 pl-xs-15 col-xl-6 col-lg-6"
        >
          <div class="info">
            <h4 class="sub-heading mb-20">About Us</h4>
            <h2 class="heading">
              Welcome to SoftTunners: <br />Your Trusted Partner for Next-Gen IT
              Solutions
            </h2>
            <p class="mb-0">
              Founded in 2021, SoftTunners is a dedicated team of
              next-generation developers with a commitment to excellence in IT
              services. Our goal is to help small businesses grow and succeed in
              today's digital age.
            </p>
            <p>
              As a full-service provider, we offer a wide range of IT solutions
              to meet the needs of our clients. From website development to
              digital marketing, we have the expertise to help your business
              reach its full potential.
            </p>
            <p>
              At SoftTunners, we pride ourselves on our customer-centric
              approach. We work closely with our clients to understand their
              unique needs and develop customized solutions that drive results.
            </p>
            <p>
              Whether you are a small business owner looking to establish an
              online presence or a startup looking to scale your operations, we
              have the skills and experience to help you succeed. Contact us
              today to learn more about how we can help your business grow and
              thrive.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %} Shape {% endcomment %}
  <div class="shape-animated">
    <img src="assets/img/shape/11.png" alt="Shape" />
  </div>
  {% comment %} End Shape {% endcomment %} {% comment %} Shape {% endcomment %}
  <div class="blur-bg"></div>
  {% comment %} End Shape {% endcomment %}
</div>

{% comment %} About us content main Component ends here {% endcomment %}
