{% comment %} Start Banner Area {% endcomment %}
<div
  class="banner-area banner-style-two navigation-icon-solid navigation-between-bottom navigation-custom overflow-hidden top-pad-150 text-light"
  style="padding-top: 56px"
>
  <div class="banner-slide">
    <div class="swiper-wrapper">
      <div class="swiper-slide bg-cover shadow dark">
        <div class="container">
          <div class="row align-center">
            <div class="col-xl-8 offset-xl-1">
              <div class="content">
                <h2>End-To-End <strong>Product Development </strong></h2>
                <p>
                  We are professional engineers with extensive experience in
                  delivering superior products
                </p>
                <div class="button">
                  <a
                    class="btn btn-gradient btn-md radius animation"
                    href="tel:+918879963368"
                    >Call Us</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %}Banner Code Ends Here {% endcomment %}
