{% comment %} Blog & Articles Section Start From Here {% endcomment %}
<section class="blog-area blog-grid bg-gray default-padding bottom-less">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="site-heading text-center">
          <h4 class="sub-title">From the blog</h4>
          <h2 class="title">Latest News &amp; Articles</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-md-6 single-item">
        <div class="blog-style-two">
          <div class="thumb">
            <a href="blog-single-with-sidebar.html"
              ><img src="assets/img/about/5.jpg" alt="Thumb"
            /></a>
            <div class="tags">
              <a href="javascript:void(0)">Solution</a>
            </div>
          </div>
          <div class="info">
            <div class="meta">
              <ul>
                <li>
                  <a href="javascript:void(0)"
                    ><i class="far fa-comment-alt"></i> 25 Comments</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0)"
                    ><i class="far fa-heart"></i> 65</a
                  >
                </li>
              </ul>
            </div>

            <a class="blog-title" href="blog-single-with-sidebar.html"
              >Providing top quality cleaning and related services charms.</a
            >
          </div>
          <div class="author">
            <div class="thumbs">
              <a href="javascript:void(0)"
                ><img src="assets/img/team/3.jpg" alt="Author"
              /></a>
            </div>
            <div class="author-info">
              <h5>Dickua Pathari</h5>
              <span>July 16, 2022</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% comment %} Blog & News Secion Ends from Here {% endcomment %}
