{% comment %} About Us Component at Home Page {% endcomment %}
<div class="about-area relative">
  {% comment %} Image Shape {% endcomment %}
  <div class="shape-right-bottom">
    <img src="assets/img/shape/28.png" alt="Shape" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-style-two">
          <div class="thumb">
            <img src="assets/img/illustration/4.png" alt="Thumb" />
            <div class="shape">
              <img src="assets/img/shape/circle.png" alt="Shape" />
            </div>
            <div class="fun-fact">
              <div class="counter">
                <div class="timer" data-to="12" data-speed="5000"></div>
              </div>
              <span class="medium">Worldwide Partners</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-style-two">
          <div class="content">
            <h2 class="heading">
              We're preapering for your Success, <br />
              Trusted firm in IT Services.
            </h2>
            <p>
              SoftTunners is a website development and Digital Service Provider
              based in Mumbai. SoftTunners is a growing firm with highly skilled
              website development and digital marketing experts catering
              result-oriented and cost-effective solutions from small businesses
              to startups in Mumbai
            </p>
          </div>
          <div class="expertise">
            <div class="left">
              <h2>
                Founded In The Year
                <strong>2021</strong>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %} About Component Ended Here {% endcomment %}
