{% comment %} Home About Us Component Start Here {% endcomment %}

<section class="services-area bg-gray default-padding bottom-less">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="site-heading text-center">
          <h4 class="sub-title">Our Great Service</h4>
          <h2 class="title">
                Comprehensive IT Services for <br/> Your Business
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="services-style-one-box">
      <div class="row">
        {% comment %} Services Card {% endcomment %}
        <div class="services-style-one col-xl-3 col-md-6">
          <div class="item style-one-item">
            <i class="flaticon-data-management"></i>
            <p>
              let's Build an Amaing website, It's Helps Your Potential customer
              to know about your businesses.
            </p>
            <div class="bottom">
              <h4><a href="javascript:void(0)">Website Development</a></h4>
              <a href="javascript:void(0)"
                ><i class="fas fa-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        {% comment %} Services Card Ends {% endcomment %} 
        {% comment %} Services Card {% endcomment %}
        <div class="services-style-one col-xl-3 col-md-6">
          <div class="item style-one-item active">
            <i class="flaticon-software"></i>
            <p>
              Having an app idea, We have a great Mobile Team, Let's Build it
              together.
            </p>
            <div class="bottom">
              <h4><a href="javascript:void(0)">Mobile Development</a></h4>
              <a href="javascript:void(0)"
                ><i class="fas fa-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        {% comment %} Services Card Ends {% endcomment %} 
        {% comment %} Services Card {% endcomment %}
        <div class="services-style-one col-xl-3 col-md-6">
          <div class="item style-one-item">
            <i class="flaticon-augmented-reality"></i>
            <p>
              We also help creating robust and amazing softwares for all the
              Operating.
            </p>
            <div class="bottom">
              <h4><a href="javascript:void(0)">Software Development</a></h4>
              <a href="javascript:void(0)"
                ><i class="fas fa-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        {% comment %} Services Card Ends {% endcomment %} {% comment %} Services
        Card {% endcomment %}
        <div class="services-style-one col-xl-3 col-md-6">
          <div class="item style-one-item">
            <i class="flaticon-gadget"></i>
            <p>
              Your product should look amazing, Our team also help creating
              amazing Design for Your product
            </p>
            <div class="bottom">
              <h4><a href="javascript:void(0)">UI/UX Designing</a></h4>
              <a href="javascript:void(0)"
                ><i class="fas fa-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        {% comment %} Services Card Ends {% endcomment %}
      </div>
      <div class="button-wrapper">
        <a
          class="btn btn-gradient btn-md radius animation"
          href="{% url 'service' %}">All Services</a>
      </div>
    </div>
  </div>

  <div
    class="shape"
    style="background-image: url(assets/img/shape/14.png)"
  ></div>
</section>

{% comment %} Home About Us Components Ends Here {% endcomment %}
