{% comment %} Our Domain Expertise Section Starts From Here {% endcomment %}
<section class="services-style-two-area bg-dark text-light default-padding">
  {% comment %} Shape {% endcomment %}
  <div
    class="shape"
    style="background-image: url(assets/img/shape/29.png)"
  ></div>
  {% comment %} End Shape{% endcomment %}
  <div class="container">
    <div class="heading-left">
      <div class="row">
        <div class="col-lg-5">
          <h5 class="sub-heading light">Our Domain Expertise</h5>
          <h2 class="heading">
            Unleashing the Power of Technology for Diverse Industries
          </h2>
        </div>
        <div class="col-lg-6 offset-lg-1">
          <p>
            At SoftTunners, we have a wealth of experience delivering IT
            products to a wide range of industries. From healthcare to
            education, logistics to e-commerce, and fintech to name a few, we
            have a proven track record of delivering top-quality solutions to
            our clients.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="services-carousel text-center swiper">
          {% comment %} Additional Wrapper {% endcomment %}
          <div class="swiper-wrapper">
            {% comment %} Single Item {% endcomment %}
            <div class="swiper-slide">
              <div class="services-style-two">
                <a href="javascript:void(0)">
                  <i class="flaticon-smart-home"></i>
                  <h5>Education</h5>
                </a>
              </div>
            </div>
            {% comment %} End Single Item {% endcomment %} {% comment %} Single
            Item {% endcomment %}
            <div class="swiper-slide">
              <div class="services-style-two">
                <a href="javascript:void(0)">
                  <i class="flaticon-medical-symbol"></i>
                  <h5>Healthcare</h5>
                </a>
              </div>
            </div>
            {% comment %} End Single Item {% endcomment %} {% comment %} Single
            Item {% endcomment %}
            <div class="swiper-slide">
              <div class="services-style-two">
                <a href="javascript:void(0)">
                  <i class="flaticon-cloud-data"></i>
                  <h5>Information Tech</h5>
                </a>
              </div>
            </div>
            {% comment %} End Single Item {% endcomment %} {% comment %} Single
            Item {% endcomment %}
            <div class="swiper-slide">
              <div class="services-style-two">
                <a href="javascript:void(0)">
                  <i class="flaticon-technology"></i>
                  <h5>E-Commerce</h5>
                </a>
              </div>
            </div>
            {% comment %} End Single Item {% endcomment %} {% comment %} Single
            Item {% endcomment %}
            <div class="swiper-slide">
              <div class="services-style-two">
                <a href="javascript:void(0)">
                  <i class="flaticon-project-management"></i>
                  <h5>Manufacturing</h5>
                </a>
              </div>
            </div>
            {% comment %} End Single Item {% endcomment %} {% comment %} Single
            Item {% endcomment %}
            <div class="swiper-slide">
              <div class="services-style-two">
                <a href="javascript:void(0)">
                  <i class="flaticon-wallet"></i>
                  <h5>Finance</h5>
                </a>
              </div>
            </div>
            {% comment %} End Single Item {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="shape-right-bottom"
    style="background-image: url(assets/img/shape/31.png)"
  ></div>
</section>
{% comment %} Our Domain Expertise Section Ends Here {% endcomment %}
