{% comment %} Team Player Components Strat from Here {% endcomment %}
<section
  class="team-area team-grid-style text-center overflow-hidden default-padding-top pb-100 pb-xs-0 bottom-less"
>
  <div class="container">
    <div class="row">
      {% comment %} Team Player Card {% endcomment %}
      <div class="col-lg-3 col-md-6">
        <div class="team-style-one">
          <div class="thumb">
            <img src="assets/img/team/TM3.png" alt="Thumb" />
            <div
              class="angle-shape"
              style="background-image: url(assets/img/shape/24.png)"
            ></div>
          </div>
          <div class="info">
            <div class="content">
              <h4 class="title">
                <a href="team-details.html">Ashwin Sevak</a>
              </h4>
              <span>Co-Founder &amp; CEO</span>
            </div>
            <ul class="social">
              <li>
                <a class="facebook" href="javascript:void(0)">
                  <i class="bi bi-instagram"></i>
                </a>
              </li>
              <li>
                <a class="github" href="javascript:void(0)">
                  <i class="bi bi-github"></i>
                </a>
              </li>
              <li>
                <a class="linkedin" href="javascript:void(0)">
                  <i class="bi bi-linkedin"></i>
                </a>
              </li>
              <li>
                <a class="facebook" href="javascript:void(0)">
                  <i class="bi bi-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% comment %} Team Player Component Ends Here {% endcomment %}