{% comment %} Footer Component Start from Here {% endcomment %}
<footer class="bg-dark text-light">
    <div class="container">
        <div class="f-items default-padding">
            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="f-item about">
                        <span class="logo-white">Soft<span class="logo-inner-white">Tunners</span>
                            <div style="margin-bottom: 25px;"></div>

                            <p>
                                We may be virtual, but we're here for you in a real way, Let's connect and turn your ideas into reality
                            </p>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/SoftTunners"><i class="bi bi-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/softtunners"><i class="bi bi-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/softtunners"><i class="bi bi-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><i class="bi bi-github"></i></a>
                                </li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 item">
                    <div class="f-item link">
                        <h4 class="widget-title">Services</h4>
                        <ul>
                            <li>
                                <a href="{% url 'services' %}"><i class="bi bi-chevron-right"></i>Website Development</a>
                            </li>
                            <li>
                                <a href="{% url 'services' %}"><i class="bi bi-chevron-right"></i>Mobile Development</a>
                            </li>
                            <li>
                                <a href="{% url 'services' %}"><i class="bi bi-chevron-right"></i>Software Development</a>
                            </li>
                            <li>
                                <a href="{% url 'services' %}"><i class="bi bi-chevron-right"></i>UI/UX Designing</a>
                            </li>
                            <li>
                                <a href="{% url 'services' %}"><i class="bi bi-chevron-right"></i>Cloud Computing</a>
                            </li>
                            <li>
                                <a href="{% url 'services' %}"><i class="bi bi-chevron-right"></i>Check Out More...</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 item">
                    <div class="f-item contact-widget">
                        <h4 class="widget-title">Contact Info</h4>
                        <div class="address">
                            <ul>
                                <li>
                                    B/3, Devdarshan Society Pererawadi, Sakinaka Mumbai, Maharashtra, India 400072
                                </li>
                                <li>
                                    <div class="content">
                                        <strong>Email :</strong>
                                        <a href="mailto:softtunners@gmail.com">softtunners@gmail.com</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <strong>Phone :</strong>
                                        <a href="tel:+918879963368">+91 8879963368</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 item">
                    <div class="f-item newsletter">
                        <h4 class="widget-title">Subscribe to Newsletter</h4>
                        <p>
                            Join our subscribers list to get the latest news and special offers.
                        </p>
                        <form action="#">
                            <input type="email" placeholder="Your Email" class="form-control" name="email">
                            <button data-bs-toggle="modal" data-bs-target="#subscribe"> Subscribe Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% comment %} Footer Patch {% endcomment %}
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-box">
                <div class="row">
                    <div class="col-lg-6">
                        <p>&copy; Copyright 2022. All Rights Reserved by <a href="javascript:void(0)">SoftTunners</a></p>
                    </div>
                    <div class="col-lg-6 text-right">
                        <ul>
                            <li>
                                <a href="about-us.html">Terms &amp; Conditions</a>
                            </li>
                            <li>
                                <a href="about-us.html">Privacy &amp; Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} Footer Patch Ends {% endcomment %}
</footer>
{% comment %} Footer Codes Ends Here {% endcomment %}




{% include 'html/components/global/modals.html' %}




