{% comment %} This Page Contain all the main link of the /assets, and code gfiles and it connects with all the pages as well {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="eng">

<head>
    {% comment %} Title Block {% endcomment %}
    {%block title %} {% endblock title %}

    {% comment %} Meta Tags {% endcomment %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Crysa - It Solution Template">
    {% comment %} Meta Tags Ends Here {% endcomment %}

    {% comment %} Favicon {% endcomment %}
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.svg" />
    {% comment %} Favicon Ends Here {% endcomment %}

    {% comment %} CSS Plugin links {% endcomment %}
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="/assets/css/swiper-bundle.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.css" rel="stylesheet" />
    <link href="/assets/css/validnavs.css" rel="stylesheet" />
    <link href="/assets/css/helper.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap-icons.css" rel="stylesheet" />
    {% comment %} CSS Plugin Links Ends Here {% endcomment %}

    {% comment %} CSS Custom Styling {% endcomment %}
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/main.css" rel="stylesheet" />
    {% comment %} CSS Custom Styling Ends Here {% endcomment %}
</head>

<body>
    {% comment %} Preloader Code {% endcomment %}
    <div class="se-pre-con"></div>
    {% comment %} Preloader Ends Here {% endcomment %}
    
    {% comment %} Main Code of the Pages Goes Here {% endcomment %}
    {% block content %} {% endblock content%}
    {% comment %} Main Page Block Ends Here {% endcomment %}


    {% comment %} Javascript Plugin Links {% endcomment %}
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.appear.js"></script>
    <script src="/assets/js/jquery.easing.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/modernizr.custom.13711.js"></script>
    <script src="/assets/js/swiper-bundle.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/progress-bar.min.js"></script>
    <script src="/assets/js/circle-progress.js"></script>
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/count-to.js"></script>
    <script src="/assets/js/jquery.scrolla.min.js"></script>
    <script src="/assets/js/YTPlayer.min.js"></script>
    <script src="/assets/js/TweenMax.min.js"></script>
    <script src="/assets/js/validnavs.js"></script>
    {% comment %} Javascript Plugin Links Ends Here {% endcomment %}
    
    {% comment %} Custom Javascipt Links Goes Here {% endcomment %}
    <script src="/assets/js/main.js"></script>
    {% comment %} Custom Javascript Codes Ends Here {% endcomment %}
</body>

</html>